body {
    margin: 0;
    background: #e8f7f9;
    color: #222;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background: #006b7a;
    color: white;
    padding: 15px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}
.menu li {
    display: inline-block;
    margin: 0 15px;
    color: white;
}


.galeria {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px auto;
    flex-wrap: nowrap;     
    max-width: 1000px;
}

.hotel {
    background: white;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    overflow: hidden;
    text-align: center;
}

.hotel-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.descripcion {
    padding: 10px;
}


.mapa iframe {
    width: 80%;
    height: 320px;
    border: none;
    border-radius: 8px;
    margin: 20px 0;
}


.lista-servicios {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}

footer {
    background: #006b7a;
    color: white;
    padding: 10px;
    margin-top: 40px;
}
